
.game(data-hyper="game.height, game.width",
      data-height="{{height}}",
      data-width="{{width}}")

  .board(data-hyper="game.state")
    .panels(data-hyper="state.panels")
      .panel(data-ng-repeat="panel in panels",
             data-hyper="panel.row, panel.col, panel.owner.color",
             data-row="{{row || 0}}",
             data-col="{{col || 0}}",
             data-ng-style="{'background': color }")

    .edges(data-hyper="state.edges")
      .edge(data-ng-repeat="edge in edges",
            data-hyper="edge.row, edge.col, edge.type",
            data-row="{{row || 0}}",
            data-col="{{col || 0}}",
            data-type="{{type}}")

        .color(data-hyper="edge.owner.color",
               data-ng-style="{'background': color }")

        form(data-hyper-form="edge.occupy")
          .inner(data-ng-click="submit()")


section.messages(data-hyper="game.chat")
  p.message(data-ng-repeat="message in chat")
    h1(data-hyper-bind="author.color")
    span.author(data-hyper-bind="message.author.first-name")
    span.content(data-hyper-bind="message.content")
    span.date(data-hyper-bind="message.date")
  form(data-hyper-form="game.chat.message")
    .form-group.inline(data-ng-repeat="input in inputs")
      input(data-hyper-input="input")
    input(type="submit", value="submit")

.controls
  .players(data-hyper="game.state.scores")
    div(data-ng-repeat="score in scores")
      h1(data-hyper-bind="score.player.first-name")
      // TODO fix hyper-bind
      h2(data-ng-bind="score.score")
      div.color(data-hyper="score.player.color",
                data-ng-style="{'background': color }")
      div(data-hyper="game.state.turn",
          data-ng-switch="turn == score.player.href")
        div(data-ng-switch-when="true")
          h1 waiting on other player



.state(data-ng-hide="game.state")
  p Waiting for other players

form(data-hyper-form="game.join")
  button(data-ng-click="submit()") join
form(data-hyper-form="game.start")
  button(data-ng-click="submit()") start
form(data-hyper-form="game.leave")
  button(data-ng-click="submit()") leave
